@font-face {
  font-family: "AbrilFatface-Regular";
  src: url("/fonts/AbrilFatface-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Cookie-Regular';
  src: url('/fonts/Cookie-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('/fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype');
}
